<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Educom - Education & LMS Template">

    <!-- ========== Page Title ========== -->
    <title>Data Analytics</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- ========== Start Stylesheet ========== -->
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
    <link href="./css/main/main-css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/flaticon-set.css" rel="stylesheet" />
    <link href="./css/main/main-css/themify-icons.css" rel="stylesheet" />
    <link href="./css/main/main-css/magnific-popup.css" rel="stylesheet" />
    <link href="./css/main/main-css/owl.carousel.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/animate.css" rel="stylesheet" />
    <link href="./css/main/main-css/bootsnav.css" rel="stylesheet" />
    <link href="./css/main/main-css/responsive.css" rel="stylesheet" />
    <link href="./css/main/main-css/coursestyle.css" rel="stylesheet">

    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area bg-dark text-light">
        <div class="container">
            <div class="row">

                <div class="col-md-8 address-info text-left">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fas fa-copy"></i> Total courses: <strong>40+</strong>
                            </li>
                            <li>
                                <i class="fas fa-user-shield"></i> Instructor: <strong>100+</strong>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> Help Line: <strong>+44 7769 108567</strong>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 link text-right">
                    <ul>
                        <li>
                            <a href="/form" class="register-btn">Register</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav"
            style="background-color: #0D1117; color: white;">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="ti-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Atribute Navigation -->

                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/images/main-images/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li class="dropdown">
                            <a href="/">Home</a>

                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                            <ul class="dropdown-menu">
                                <li><a href="/data-analytics">Data Analytics</a></li>
                                <li><a href="/machine-learning">Machine Learning</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="/about-us">About Us</a>

                        </li>

                        <li>
                            <a href="/contact-us">contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center text-light"
        style="background-image: url(/images/main-images/BG12-REV.png); background-repeat: no-repeat;  background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Data Analytics</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Courses</a></li>
                        <li class="active">Data Analytics</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Course Details 
    ============================================= -->
    <div class="course-details-area default-padding">
        <div class="container">
            <div class="row">
                <!-- Start Course Info -->
                <div class="col-md-9">
                    <div class="courses-info">
                        <h2>
                            Data Analytics Fundamentals with Python
                        </h2>
                        <div class="course-meta"
                            style="background-image: url('/images/main-images/BG10.png'); background-repeat: no-repeat; background-size: cover;">

                            <div class="item category">
                                <h4>Category</h4>
                                <a href="#">Data Science</a>
                            </div>
                            <div class="item rating">
                                <h4>Review</h4>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>(1 Rating)</span>
                            </div>
                            <div class="item price">
                                <h4>Price</h4>
                                <span>$29.00</span>
                            </div>
                            <div class="align-right">
                                <a class="btn btn-theme effect btn-sm" href="/form">
                                    <i class="fas fa-chart-bar"></i> Enroll
                                </a>
                            </div>
                        </div>
                        <img src="/images/main-images/courses/1.png" alt="Thumb" style="width: 100%;">
                        <!-- Star Tab Info -->
                        <div class="tab-info">
                            <!-- Tab Nav -->
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab1" aria-expanded="true">
                                        Overview
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab2" aria-expanded="false">
                                        Curriculum
                                    </a>
                                </li>

                                <li>
                                    <a data-toggle="tab" href="#tab4" aria-expanded="false">
                                        Reviews
                                    </a>
                                </li>
                            </ul>
                            <!-- End Tab Nav -->
                            <!-- Start Tab Content -->
                            <div class="tab-content tab-content-info">
                                <!-- Single Tab -->
                                <div id="tab1" class="tab-pane fade active in">
                                    <div class="info title">
                                        <h4>Course Desscription</h4>
                                        <p>
                                            This comprehensive 12-week course is designed for aspiring data analysts to
                                            master the foundational tools, techniques, and concepts of data analytics
                                            using Python. The curriculum covers everything from Python basics to
                                            advanced data manipulation and visualization, ensuring participants develop
                                            the skills needed to analyze, interpret, and present data effectively.</p>
                                        <p>
                                            The course combines hands-on coding exercises, real-world case studies, and
                                            project-based learning to build proficiency in Python programming, data
                                            wrangling, exploratory data analysis (EDA), and feature engineering.
                                            Participants will also gain experience with industry-standard libraries like
                                            Numpy, Pandas, Matplotlib, and Seaborn, alongside techniques for handling
                                            missing data, detecting outliers, and reducing dimensionality with Principal
                                            Component Analysis (PCA).
                                        </p>
                                        <h4>Main Features</h4>
                                        <p>
                                            This hands-on course covers Python basics, data manipulation, visualization
                                            (Pandas, Numpy, Matplotlib, Seaborn), EDA, feature engineering, and PCA.
                                            Participants will apply skills to analyze real-world datasets and complete a
                                            capstone project. </p>
                                        <h4>Learning Outcomes</h4>
                                        <ul class="list"
                                            style="background-image: url('.//images/main-images/BG4-1.png'); background-repeat: no-repeat; background-size: cover;">
                                            <li><i class="fas fa-angle-right"></i> Gain proficiency in Python
                                                programming and popular data analytics libraries.</li>
                                            <li><i class="fas fa-angle-right"></i> Manipulate, clean, and transform raw
                                                data into actionable insights.</li>
                                            <li><i class="fas fa-angle-right"></i> Create compelling visualizations to
                                                communicate data findings effectively.</li>
                                            <li><i class="fas fa-angle-right"></i> Understand the fundamentals of data
                                                science workflows, including EDA, feature engineering, and outlier
                                                detection.</li>
                                            <li><i class="fas fa-angle-right"></i> Apply dimensionality reduction
                                                techniques like PCA to streamline complex datasets.</li>
                                            <li><i class="fas fa-angle-right"></i> Complete a real-world data analytics
                                                project from start to finish.</li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- End Single Tab -->

                                <!-- Single Tab -->
                                <div id="tab2" class="tab-pane fade">
                                    <div class="info title">
                                        <p>
                                            The Data Analytics Fundamentals with Python course teaches data analysis
                                            using Python libraries like Pandas, NumPy, and Matplotlib. Topics include
                                            data cleaning, exploratory data analysis (EDA), visualization, handling
                                            missing data, and feature engineering. Students will gain practical skills
                                            to analyze real-world datasets and explore basic machine learning for
                                            predictive analytics.
                                        </p>
                                        <h4>List Of Weeks</h4>
                                        <!-- Start Course List -->
                                        <!-- Week 1: Python Basics -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week1">
                                                                <strong>01</strong> Python Basics
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week1" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 1</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to Python, installation,
                                                                                and IDE setup (Jupyter, VS Code)
                                                                                <br>Python syntax, variables, data types
                                                                                (integers, strings, floats)
                                                                                <br>Basic operators and expressions
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 2</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Control structures: if, else, elif
                                                                                <br>Loops: for, while
                                                                                <br>Functions, defining, and calling
                                                                                functions
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 2: Python Basics Continued -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week2">
                                                                <strong>02</strong> Python Basics Continued
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 3</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Lists, tuples, sets, and dictionaries
                                                                                <br>List comprehensions
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 4</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                File handling (reading/writing files)
                                                                                <br>Exception handling (try/except)
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 3: Advanced Python (Pandas, Numpy) -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week3">
                                                                <strong>03</strong> Advanced Python (Pandas, Numpy)
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week3" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 5</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to Numpy
                                                                                <br>Numpy arrays, array indexing,
                                                                                slicing
                                                                                <br>Basic operations with Numpy arrays
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 6</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to Pandas
                                                                                <br>Series and DataFrames
                                                                                <br>DataFrame operations: accessing
                                                                                rows/columns, filtering, and sorting
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 4: Data Manipulation and Joining -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week4">
                                                                <strong>04</strong> Data Manipulation and Joining
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week4" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 7</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Pandas: Merging, joining, and
                                                                                concatenating data
                                                                                <br>GroupBy operations
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 8</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Aggregating data: sum(), mean(),
                                                                                count(), etc.
                                                                                <br>Pivot tables
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 5: Data Visualization -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week5">
                                                                <strong>05</strong> Data Visualization
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week5" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 9</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to data visualization with
                                                                                Matplotlib
                                                                                <br>Basic plotting: line plots, bar
                                                                                charts, histograms
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 10</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to Seaborn
                                                                                <br>Advanced visualizations: scatter
                                                                                plots, box plots, heatmaps
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 6: Exploratory Data Analysis (EDA) -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week6">
                                                                <strong>06</strong> Exploratory Data Analysis (EDA)
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week6" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 11</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to EDA: What is it and why
                                                                                it's important?
                                                                                <br>Descriptive statistics (mean,
                                                                                median, mode, std, variance)
                                                                                <br>Data distributions and relationships
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 12</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Using visualization for EDA
                                                                                <br>Pair plots, correlation matrices
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 7: Data Collection -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week7">
                                                                <strong>07</strong> Data Collection
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week7" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 13</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Data sources: APIs, web scraping,
                                                                                databases
                                                                                <br>Web scraping basics with
                                                                                BeautifulSoup and requests
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 14</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Collecting data from APIs (using
                                                                                requests, JSON handling)
                                                                                <br>Storing data in Pandas DataFrames
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 8: Feature Engineering -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week8">
                                                                <strong>08</strong> Feature Engineering
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week8" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 15</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to feature engineering
                                                                                <br>Creating new features:
                                                                                transformations, combinations
                                                                                <br>Feature scaling: normalization and
                                                                                standardization
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 16</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Handling categorical data: one-hot
                                                                                encoding, label encoding
                                                                                <br>Binning and discretization
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Week 9: Advanced Python Concepts -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week9">
                                                                <strong>09</strong> Handling Missing Data
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week9" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 17</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Identifying missing data
                                                                                <br>Techniques to handle missing data:
                                                                                dropping, filling (imputation)
                                                                                <br>Advanced imputation strategies:
                                                                                mean, median, mode, KNN imputation
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 18</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Handling missing data with Pandas
                                                                                <br>Case study: Imputing missing data in
                                                                                a dataset
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 10: Handling and Detecting Outliers -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week10">
                                                                <strong>10</strong> Handling and Detecting Outliers
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week10" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 19</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Identifying outliers using box plots,
                                                                                Z-score, and IQR
                                                                                <br>Handling outliers: removal,
                                                                                transformation
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 20</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Case study: Detecting and handling
                                                                                outliers in real datasets
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Week 11: Web Development with Python (Flask) -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week11">
                                                                <strong>11</strong> Principal Component Analysis (PCA)
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week11" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 21</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Introduction to PCA
                                                                                <br>The need for dimensionality
                                                                                reduction
                                                                                <br>Step-by-step PCA process: covariance
                                                                                matrix, eigenvalues, eigenvectors
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 22</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Applying PCA using sklearn
                                                                                <br>Visualizing PCA results
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Week 12: Project Discussion & Final Presentation -->
                                        <div class="course-list-items acd-items acd-arrow">
                                            <div class="panel-group symb" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                                href="#week12">
                                                                <strong>12</strong> Project Discussion & Final
                                                                Presentation
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="week12" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 23</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Project discussion: Overview of the
                                                                                final project
                                                                                <br>How to frame a data science project:
                                                                                Problem definition, data collection, and
                                                                                preparation
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="title">
                                                                        <i class="fas fa-play-circle"></i>
                                                                        <p>Class 24</p>
                                                                    </div>
                                                                    <div class="intro">
                                                                        <div class="item">
                                                                            <p>
                                                                                Final project presentation or demo
                                                                                <br>Course review and final Q&A
                                                                            </p>
                                                                        </div>
                                                                        <div class="item">
                                                                            <p>Duration: 1 hour 30 min</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- End Course List -->

                                    </div>
                                </div>
                                <!-- End Single Tab -->

                                <!-- Single Tab -->
                                <div id="tab3" class="tab-pane fade">
                                    <div class="info title">
                                        <div class="advisor-list-items">
                                            <!-- Advisor Item -->
                                            <div class="item">
                                                <div class="thumb">
                                                    <img src="/images/main-images/advisor/1.jpg" alt="Thumb">
                                                </div>
                                                <div class="info">
                                                    <div class="author">
                                                        <h4>Devid Mark</h4>
                                                        <ul>
                                                            <li class="facebook">
                                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                            </li>
                                                            <li class="twitter">
                                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                            </li>
                                                            <li class="dribbble">
                                                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                                            </li>
                                                            <li class="youtube">
                                                                <a href="#"><i class="fab fa-youtube"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <span class="designation">senior lecturer</span>
                                                    <p>
                                                        Several carried through an of up attempt gravity. Situation to
                                                        be at offending elsewhere distrusts if. Particular use for
                                                        considered projection cultivated. Worth of do doubt shall
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Advisor Item -->
                                            <!-- Advisor Item -->
                                            <div class="item">
                                                <div class="thumb">
                                                    <img src="/images/main-images/advisor/2.jpg" alt="Thumb">
                                                </div>
                                                <div class="info">
                                                    <div class="author">
                                                        <h4>Bubtas Abraham</h4>
                                                        <ul>
                                                            <li class="facebook">
                                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                            </li>
                                                            <li class="twitter">
                                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                            </li>
                                                            <li class="dribbble">
                                                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                                            </li>
                                                            <li class="youtube">
                                                                <a href="#"><i class="fab fa-youtube"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <span class="designation">Java Programmer</span>
                                                    <p>
                                                        Several carried through an of up attempt gravity. Situation to
                                                        be at offending elsewhere distrusts if. Particular use for
                                                        considered projection cultivated. Worth of do doubt shall
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- End Advisor Item -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Tab -->

                                <!-- Single Tab -->
                                <div id="tab4" class="tab-pane fade">
                                    <div class="info title">
                                        <div class="course-rating-list">
                                            <div class="average-rating">
                                                <h2>4.5</h2>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <h4>28 Rating</h4>
                                            </div>
                                            <div class="rating-status">
                                                <!-- Progress Bar Start -->
                                                <div class="progress-box">
                                                    <h5>5 Star <span class="pull-right">90%</span></h5>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" data-width="90">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-box">
                                                    <h5>4 Star <span class="pull-right">10%</span></h5>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" data-width="10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-box">
                                                    <h5>3 Star <span class="pull-right">0%</span></h5>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" data-width="0">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-box">
                                                    <h5>2 Star <span class="pull-right">0%</span></h5>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" data-width="0">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-box">
                                                    <h5>1 Star <span class="pull-right">0%</span></h5>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" data-width="0">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Progressbar -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Tab -->
                            </div>
                            <!-- End Tab Content -->
                        </div>
                        <!-- End Tab Info -->
                    </div>
                </div>
                <!-- End Course Info -->

                <!-- Start Course Sidebar -->
                <div class="col-md-3">
                    <div class="aside">
                        <!-- Sidebar Item -->
                        <div class="sidebar-item course-info">
                            <div class="title">
                                <h4>Course Features</h4>
                            </div>
                            <ul>
                                <li><i class="fas fa-language"></i>
                                    Language <span class="pull-right">English/Urdu/Hindi</span></li>
                                <li><i class="fas fa-shield-alt"></i> Lectures <span class="pull-right">24</span></li>

                                <li><i class="fas fa-signal"></i>
                                    Level <span class="pull-right">Beginner/Intermediate</span></li>
                                <li><i class="fas fa-users"></i>
                                    Batch Completed <span class="pull-right">5</span></li>
                            </ul>
                        </div>
                        <!-- End Sidebar Item -->
                        <!-- Sidebar Item -->
                        <div class="sidebar-item category">
                            <div class="title">
                                <h4>Courses Category</h4>
                            </div>
                            <ul>
                                <li>
                                    <a href="#">Full stack web application <span>2</span></a>
                                </li>
                                <li>
                                    <a href="#">Full stack mobile application <span>3</span></a>
                                </li>
                                <li>
                                    <a href="#">eCommerce <span>3</span></a>
                                </li>
                                <li>
                                    <a href="#">Social Media Marketing <span>3</span></a>
                                </li>
                                <li>
                                    <a href="#">Amazon <span>3</span></a>
                                </li>
                                <li>
                                    <a href="#">Data Science <span>3</span></a>
                                </li>
                                <li>
                                    <a href="#">Artificial Intelligence <span>3</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Sidebar Item -->
                        <!-- Sidebar Item -->
                        <div class="sidebar-item similar-courses">
                            <div class="title">
                                <h4>Similar Courses</h4>
                            </div>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="/images/main-images/courses/2.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="/machine-learning">Machine learning </a>
                                        <div class="meta">
                                            <span>$29.00</span>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="/images/main-images/courses/1.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="/data-analytics">Data Analytics </a>
                                        <div class="meta">
                                            <span>$29.00</span>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- End Sidebar Item -->
                    </div>
                </div>
                <!-- End Course Sidebar -->
            </div>
        </div>
    </div>
    <!-- End Course Details -->

    <!-- Start Newsletter 
    ============================================= -->
    <div class="newsletter-area fixed">
        <div class="container">
            <div class="subscribe-items shadow theme-hard default-padding bg-cover"
                style="background-image: url(/images/main-images/BG1.png);">
                <div class="row">
                    <div class="col-md-7 left-info">
                        <div class="info-box">
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="info">
                                <h3>Subscribe to our <span style="color: #bdff00;">NEWSLETTER</span></h3>
                                <p>
                                    Subscribe to our newsletter for the latest updates, insights, and exclusive offers
                                    directly to your inbox!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <form action="#">
                            <div class="input-group">
                                <input type="email" placeholder="Enter your e-mail here" class="form-control"
                                    name="email">
                                <button type="submit">
                                    Subscribe <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light top-padding">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <!-- Single item -->
                    <div class="col-md-5 col-sm-6 item equal-height">
                        <div class="f-item about">
                            <h4>About</h4>
                            <p>
                                Our courses offer a tailored curriculum designed for excellence and growth. Achieve your
                                goals with expert guidance and top-notch resources.
                            </p>
                            <ul>
                                <li>
                                    <p>Email <span><a href="mailto:info@aicexpert.com">info@aicexpert.com</a></span></p>
                                </li>
                                <li>
                                    <p>Office <span>Lahore, Pakistan</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->


                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-2 col-sm-6 item equal-height">

                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-5 col-sm-6 item equal-height">
                        <div class="f-item popular-courses">
                            <h4>Popular Courses</h4>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="/images/main-images/courses/1.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="/data-analytics">Data Analytics</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </li>
                                            <li>(128) enrolled</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="/images/main-images/courses/2.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="/machine-learning">Machine Learning</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>(98) enrolled</li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2020. All Rights Reserved by <a href="https://aicexpert.com">AICE XPERT</a>
                        </p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="./javascript/main/main-js/jquery-1.12.4.min.js"></script>
    <script src="./javascript/main/main-js/bootstrap.min.js"></script>
    <script src="./javascript/main/main-js/equal-height.min.js"></script>
    <script src="./javascript/main/main-js/jquery.appear.js"></script>
    <script src="./javascript/main/main-js/jquery.easing.min.js"></script>
    <script src="./javascript/main/main-js/jquery.magnific-popup.min.js"></script>
    <script src="./javascript/main/main-js/modernizr.custom.13711.js"></script>
    <script src="./javascript/main/main-js/owl.carousel.min.js"></script>
    <script src="./javascript/main/main-js/wow.min.js"></script>
    <script src="./javascript/main/main-js/progress-bar.min.js"></script>
    <script src="./javascript/main/main-js/isotope.pkgd.min.js"></script>
    <script src="./javascript/main/main-js/imagesloaded.pkgd.min.js"></script>
    <script src="./javascript/main/main-js/count-to.js"></script>
    <script src="./javascript/main/main-js/YTPlayer.min.js"></script>
    <script src="./javascript/main/main-js/loopcounter.js"></script>
    <script src="./javascript/main/main-js/jquery.nice-select.min.js"></script>
    <script src="./javascript/main/main-js/bootsnav.js"></script>
    <script src="./javascript/main/main-js/main.js"></script>


</body>

</html>