<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Educom - Education & LMS Template">

    <title>Course Registration Form</title>

    <!-- ========== Favicon Icon ========== -->
    <!-- <link rel="stylesheet" href="./css/main/form-responsiveness.css"> -->
    <link rel="stylesheet" href="./css/main/main-css/registerstyle.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <!-- ========== Start Stylesheet ========== -->
    <link href="./css/main/main-css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/flaticon-set.css" rel="stylesheet" />
    <link href="./css/main/main-css/themify-icons.css" rel="stylesheet" />
    <link href="./css/main/main-css/magnific-popup.css" rel="stylesheet" />
    <link href="./css/main/main-css/owl.carousel.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="./css/main/main-css/animate.css" rel="stylesheet" />
    <link href="./css/main/main-css/bootsnav.css" rel="stylesheet" />
    <link href="./css/main/main-css/responsive.css" rel="stylesheet" />

    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">

    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area bg-dark text-light">
        <div class="container">
            <div class="row">

                <div class="col-md-8 address-info text-left">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fas fa-copy"></i> Total courses: <strong>40+</strong>
                            </li>
                            <li>
                                <i class="fas fa-user-shield"></i> Instructor: <strong>100+</strong>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> Help Line: <strong>+44 7769 108567</strong>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 link text-right">
                    <ul>
                        <li>
                            <a href="/form" class="register-btn">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav"
            style="background-color: #0D1117; color: white;">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="ti-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Atribute Navigation -->

                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="https://courses.aicexpert.com">
                        <img src="/images/main-images/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li class="dropdown">
                            <a href="https://courses-aicexpert.vercel.app/index.html">Home</a>

                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://courses-aicexpert.vercel.app/course-data.html">Data Analytics</a></li>
                                <li><a href="https://courses-aicexpert.vercel.app/course-machine.html">Machine Learning</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="https://courses-aicexpert.vercel.app/about-us.html">About Us</a>

                        </li>

                        <li>
                            <a href="https://courses-aicexpert.vercel.app/contact.html">contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Login 
    ============================================= -->
    <div class="login-area default-padding"
        style="background-image: url('../images/main-images/BG9.png'); background-repeat: no-repeat; background-size: cover; background-color: #0D1117;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form id="assignmentForm" action="/submit" method="POST" enctype="multipart/form-data"
                        class="white-popup-block"
                        style="background-image: url('../images/main-images/BG10.png'); background-repeat: no-repeat; background-size: cover;">
                        <div class="login-custom ">
                            <div class="heading">
                                <h4><i class="fas fa-edit"></i> Register Now</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input class="form-control" type="text" id="name" name="name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">

                                        <label for="profession">Profession:</label>
                                        <select id="profession" class="form-control" name="profession" required>
                                            <option value="Employee">Employee</option>
                                            <option value="Student">Student</option>
                                        </select><br><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="email">Email ID:</label>
                                        <input class="form-control" type="email" id="email" name="email" required>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="courses">Courses:</label>
                                        <select id="courses" class="form-control" name="courses" required>

                                            <option value="Machine Learning">Machine Learning</option>

                                            <option value="Deep Learning and Neural Networks">Deep Learning and Neural
                                                Networks</option>

                                            <option value="Data Science">Data Science</option>

                                            <option value="Big Data Analytics">Big Data Analytics</option>

                                            <optgroup label="Web Application Development">

                                                <option value="Full Stack (MERN, MEAN, MEEN)">Full Stack (MERN, MEAN,
                                                    MEEN)</option>

                                                <option value="Front-End (React.js, Next.js, Embedded JS Engine)">
                                                    Front-End (React.js,
                                                    Next.js, Embedded JS Engine)</option>

                                                <option value="Back-End (Node.js, Django, Flask)">Back-End (Node.js,
                                                    Django, Flask)
                                                </option>

                                            </optgroup>

                                            <option value="Mobile Application Development">Mobile Application
                                                Development</option>

                                        </select><br><br>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="transactionId">Transaction ID:</label>
                                        <input type="text" class="form-control" id="transactionId" name="transactionId"
                                            required>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="form-group">
                                        <label for="accountTitleSender">Account Title Sender:</label>
                                        <input type="text" class="form-control" id="accountTitleSender"
                                            name="accountTitleSender" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="transactionDateTime">Transaction Date and Time:</label>
                                        <input type="datetime-local" class="form-control" id="transactionDateTime"
                                            placeholder="Transaction Date and Time" name="transactionDateTime" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group" style="display: flex; flex-direction: column;">
                                        <label for="whatsapp">WhatsApp Number (Optional):</label>
                                        <input id="whatsapp" type="text" class="form-control" name="whatsapp" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="file-upload-container form-group ">
                                        <div class="new1">
                                            <label class="file-upload">
                                                <input type="file" name="Student_ID_Card" accept="*/*"
                                                    id="Student_ID_Card" required>

                                                <span class="file-upload-text">Upload Your Student Card - Required
                                                </span>

                                                <span class="file-upload-icon">📁</span>

                                                <span id="errorMessage" style="color: red; display: none;">Please upload
                                                    a file.</span>
                                            </label>


                                            <div class="file-info" id="fileInfo">
                                                <p class="file-name" id="fileName_StudentCard">No file chosen</p>
                                                <img id="filePreview_StudentCard" class="file-preview" src="" alt=""
                                                    style="display: none;">
                                            </div>

                                        </div>


                                        <!-- Paid Slip Starts -->
                                        <div class="new1">
                                            <label class="file-upload">
                                                <input type="file" name="Paid_Slip" accept="*/*" id="Paid_Slip"
                                                    required>

                                                <span class="file-upload-text">Upload Paid Slip - Required </span>

                                                <span class="file-upload-icon">📁</span>

                                                <span id="errorMessage" style="color: red; display: none;">Please upload
                                                    a file.</span>
                                            </label>


                                            <div class="file-info" id="fileInfo">
                                                <p class="file-name" id="fileName_PaidSlip">No file chosen</p>
                                                <img id="filePreview_PaidSlip" class="file-preview" src="" alt=""
                                                    style="display: none;">
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <button type="submit" class="submit-btn">Submit</button>
                            </div>
                        </div>

                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- End Login Area -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light top-padding">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <!-- Single item -->
                    <div class="col-md-5 col-sm-6 item equal-height">
                        <div class="f-item about">
                            <h4>About</h4>
                            <p>
                                Our courses offer a tailored curriculum designed for excellence and growth. Achieve your
                                goals with expert guidance and top-notch resources.
                            </p>
                            <ul>
                                <li>
                                    <p>Email <span><a href="mailto:info@courses.aicexpert.com">info@courses.aicexpert.com</a></span></p>
                                </li>
                                <li>
                                    <p>Office <span>Lahore, Pakistan</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->


                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-2 col-sm-6 item equal-height">

                    </div>
                    <!-- End Single item -->

                    <!-- Single item -->
                    <div class="col-md-5 col-sm-6 item equal-height">
                        <div class="f-item popular-courses">
                            <h4>Popular Courses</h4>
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="/images/main-images/courses/1.png" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="/data-analytics">Data Analytics</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </li>
                                            <li>(128) enrolled</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="/images/main-images/courses/2.jpg" alt="Thumb">
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="/machine-learning">Machine Learning</a>
                                        <ul class="meta">
                                            <li>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </li>
                                            <li>(98) enrolled</li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2020. All Rights Reserved by <a href="https://aicexpert.com">AICE XPERT</a>
                        </p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms of user</a>
                            </li>
                            <li>
                                <a href="#">License</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('assignmentForm').addEventListener('submit', function (event) {
                const Student_ID_Card = document.getElementById('Student_ID_Card');
                const errorMessage = document.getElementById('errorMessage');

                if (!Student_ID_Card.files.length) {
                    errorMessage.style.display = 'block';
                    event.preventDefault();
                }

                else {
                    errorMessage.style.display = 'none';
                }

                const Paid_Slip = document.getElementById('Paid_Slip');

                if (!Paid_Slip.files.length) {
                    errorMessage.style.display = 'block';
                    event.preventDefault();
                }

                else {
                    errorMessage.style.display = 'none';
                }
            });


            document.getElementById('Student_ID_Card').addEventListener('change', function (event) {
                const file = event.target.files[0];
                const fileNameElement = document.getElementById('fileName_StudentCard');
                const filePreviewElement = document.getElementById('filePreview_StudentCard');

                if (file) {
                    fileNameElement.textContent = file.name;

                    if (file.type.startsWith('image/')) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            filePreviewElement.src = e.target.result;
                            filePreviewElement.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    }

                    else {
                        filePreviewElement.style.display = 'none';
                    }
                }

                else {
                    fileNameElement.textContent = 'No file chosen';
                    filePreviewElement.style.display = 'none';
                }
            });

            document.getElementById('Paid_Slip').addEventListener('change', function (event) {
                const file = event.target.files[0];
                const fileNameElement = document.getElementById('fileName_PaidSlip');
                const filePreviewElement = document.getElementById('filePreview_PaidSlip');

                if (file) {
                    fileNameElement.textContent = file.name;

                    if (file.type.startsWith('image/')) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            filePreviewElement.src = e.target.result;
                            filePreviewElement.style.display = 'block';
                        };
                        reader.readAsDataURL(file);
                    }

                    else {
                        filePreviewElement.style.display = 'none';
                    }
                }

                else {
                    fileNameElement.textContent = 'No file chosen';
                    filePreviewElement.style.display = 'none';
                }
            });
        });
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const emailInput = document.getElementById('email');
            const form = document.querySelector('form');

            emailInput.addEventListener('input', function () {
                this.value = this.value.toLowerCase();
            });

            form.addEventListener('submit', function (event) {
                emailInput.value = emailInput.value.toLowerCase();
            });
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <script>

        const input = document.querySelector("#whatsapp");

        const iti = window.intlTelInput(input, {

            initialCountry: "auto",

            geoIpLookup: function (success, failure) {
                fetch('https://ipinfo.io?token=e932ef37602dda', { headers: { 'Accept': 'application/json' } })

                    .then((resp) => resp.json())

                    .then((resp) => {
                        const countryCode = (resp && resp.country) ? resp.country : "us";
                        success(countryCode);
                    })

                    .catch(() => {
                        success("us");
                    });
            },

            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });

        function formatPhoneNumber(number) {
            return number.replace(/\D/g, '');
        }

        function stripDialCode(number, dialCode) {
            const cleanNumber = formatPhoneNumber(number);
            const dialCodeLength = dialCode.length;

            if (cleanNumber.startsWith(dialCode)) {
                return cleanNumber.slice(dialCodeLength);
            }
            return cleanNumber;
        }

        input.addEventListener('input', function () {
            let rawValue = input.value;
            const countryData = iti.getSelectedCountryData();
            const dialCode = countryData.dialCode;

            if (!rawValue.startsWith('+')) {
                rawValue = '+' + dialCode + formatPhoneNumber(rawValue);
            }

            else {
                rawValue = '+' + formatPhoneNumber(rawValue);
            }
            input.value = rawValue;
        });

        input.addEventListener('countrychange', function () {
            const countryData = iti.getSelectedCountryData();
            const dialCode = countryData.dialCode;
            let rawValue = input.value;

            rawValue = stripDialCode(rawValue, dialCode);

            input.value = '+' + dialCode + rawValue;
        });

    </script>

    <script>
        $(document).ready(function () {
            const coursesSelect = $('#courses');
            const transactionDateTimeInput = $('#transactionDateTime');
            const nameInput = $('#name');
            const professionSelect = $('#profession');
            const emailInput = $('#email');
            const whatsapp = $('#whatsapp');
            const transactionIdInput = $('#transactionId');
            const accountTitleSenderInput = $('#accountTitleSender');

            $('#assignmentForm').on('submit', function (e) {
                sessionStorage.removeItem('formData');
            });

            window.onload = function () {
                const formDataString = sessionStorage.getItem('formData');

                if (formDataString) {
                    try {
                        const formData = JSON.parse(formDataString);

                        nameInput.val(formData.name || '');

                        professionSelect.val(formData.profession || '');

                        emailInput.val(formData.email || '');

                        whatsapp.val(formData.whatsapp || '');

                        coursesSelect.val(formData.courses || '');

                        transactionIdInput.val(formData.transactionId || '');

                        accountTitleSenderInput.val(formData.accountTitleSender || '');

                        transactionDateTimeInput.val(formData.transactionDateTime || '');
                    }

                    catch (error) {
                        console.error('Error parsing formData from sessionStorage:', error);
                    }
                }
            };
        });
    </script>
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="./javascript/main/main-js/jquery-1.12.4.min.js"></script>
    <script src="./javascript/main/main-js/bootstrap.min.js"></script>
    <script src="./javascript/main/main-js/equal-height.min.js"></script>
    <script src="./javascript/main/main-js/jquery.appear.js"></script>
    <script src="./javascript/main/main-js/jquery.easing.min.js"></script>
    <script src="./javascript/main/main-js/jquery.magnific-popup.min.js"></script>
    <script src="./javascript/main/main-js/modernizr.custom.13711.js"></script>
    <script src="./javascript/main/main-js/owl.carousel.min.js"></script>
    <script src="./javascript/main/main-js/wow.min.js"></script>
    <script src="./javascript/main/main-js/progress-bar.min.js"></script>
    <script src="./javascript/main/main-js/isotope.pkgd.min.js"></script>
    <script src="./javascript/main/main-js/imagesloaded.pkgd.min.js"></script>
    <script src="./javascript/main/main-js/count-to.js"></script>
    <script src="./javascript/main/main-js/YTPlayer.min.js"></script>
    <script src="./javascript/main/main-js/loopcounter.js"></script>
    <script src="./javascript/main/main-js/jquery.nice-select.min.js"></script>
    <script src="./javascript/main/main-js/bootsnav.js"></script>
    <script src="./javascript/main/main-js/main.js"></script>

</body>

</html>